# Configurações do Banco de Dados
DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=sua_senha_aqui
DB_NAME=gym_management

# Configurações do JWT
JWT_SECRET=seu_segredo_jwt_aqui
JWT_EXPIRES_IN=1d

# Outras configurações
NODE_ENV=development
